.w3-sidebar {
  width: 120px;
  background: #222;
  position: fixed;
}

.w3-bar-item {
  list-style: none;
  display: flex;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

#main {
  margin-left: 120px;
}

@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0
  }
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

::-webkit-scrollbar:hover {
  background-color: rgb(202, 202, 202);
  border: 10px solid rgb(175, 175, 175);
  transition: 0.5s;
  opacity: 0.7;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0);
  border: 10px solid rgb(175, 175, 175);
  border-radius: 20px;
  border: 3px solid rgb(190, 190, 190);
}